{% extends 'base.html' %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
    <h1 class="my-4">{% trans 'Edit task' %}</h1>      
    <form method="post">
        {% csrf_token %}  
        {% if error %} 
        <div class="form-group is-invalid">
            <label for="id_name">{% trans 'Name' %}</label>            
            <input type="text" name="name" value="{{tasks.first.name}}" maxlength="100" class="form-control is-invalid" placeholder="{% trans 'Name' %}" title="" required="" id="id_name">            
            <div class="invalid-feedback">{{ error }}</div>
        </div>
        {% else %}
        <div class="form-group">
            <label for="id_name">{% trans 'Name' %}</label>
            <input type="text" name="name" value="{{tasks.first.name}}" maxlength="100" class="form-control" placeholder="{% trans 'Name' %}" title="" required="" id="id_name">            
        </div>
        {% endif %}
        <div class="form-group">
            <label for="id_description">{%trans 'Description'%}</label>
            <textarea name="description" cols="40" rows="10" class="form-control" placeholder="{%trans 'Description'%}" title="" id="id_description">{{tasks.first.description}}</textarea>
        </div>
        <div class="form-group">
            <label for="id_status">{%trans 'Status'%}</label>
            <select name="status" class="form-control" title="" required="" id="id_status">
            <option value="" >---------</option>            
            {% for status in statuses %}            
                {% if status == tasks.first.status %}                
                    <option value="{{status.id}}" selected="">{{status.name}}</option>    
                {% else %}
                    <option value="{{status.id}}">{{status.name}}</option>    
                {% endif %}
            {% endfor %}            
            </select>
        </div>
        <div class="form-group">
            <label for="id_executor">{%trans 'Executor'%}</label>
            <select name="executor" class="form-control" title="" id="id_executor">
            <option value="">---------</option>
            {% for user in users %}            
                {% if user == tasks.first.user %}                
                    <option value="{{user.id}}" selected="">{{ user.first_name }} {{ user.last_name }}</option>    
                {% else %}
                    <option value="{{user.id}}">{{ user.first_name }} {{ user.last_name }}</option>    
                {% endif %}
            {% endfor %}    
            </select>
        </div>
        <div class="form-group">    
            <label for="id_labels">{%trans 'Labels'%}</label>              
            <select name="labels" class="form-control" title="" id="id_labels" multiple="3">
                {% for label in labels %}            
                    <option value="{{label.id}}">{{ label.name }}</option>    
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="{%trans 'Edit'%}">
        </div>
    </form>
{% endblock %}
