{% extends 'base.html' %}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
  <h1 class="my-4">{% trans 'Users' %}</h1>     
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans 'ID' %}</th>
        <th>{% trans 'Username' %}</th>
        <th>{% trans 'Full name' %}</th>      
        <th>{% trans 'Joined date' %}</th>  
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.date_joined }} </td>
          <td>
            <a href="/users/{{user.id}}/update/">{%trans 'Edit'%}</a>
            <br>
            <a href="/users/{{user.id}}/delete/">{%trans 'Delete'%}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if users.has_other_pages %}
  <ul class="pagination">
    {% if users.has_previous %}
      <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in users.paginator.page_range %}
      {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if users.has_next %}
      <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
  {% endif %}
{% endblock %}


        
        
      